@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --light_grey: hsl(0, 0%, 42%);
  --dark_grey: hsl(0, 0%, 7%);
  --card_background: hsl(0, 0%, 100%);
}

body {
  font-family: Figtree, sans-serif;
  color: var(--dark_grey);
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--card_background);
  border-radius: 10px;
  height: 522px;
  width: 384px;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px var(--dark_grey);
  border: 1px solid var(--dark_grey);
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 336px;
  margin-top: 24px;
}

.card-content img {
  border-radius: 10px;
  max-width: 100%;
  height: 200px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  height: 194px;
}

.text p{
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  line-height: 150%;
  position: relative;
  bottom: 48px;
}

h1 {
  font-size: 24px;
  position: relative;
  bottom: 24px;
}

h3 {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  bottom: 12px;
}

.learning {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 150%;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--yellow);
  width: 82px;
  height: 29px;
}

.user {
  margin-top: 24px;
  width: 129px;
  height: 32px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
  justify-content: space-between;
  align-items: center;
}

.user img {
  height: 32px;
  width: 32px;
}

h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
