@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Figtree, sans-serif;
  color: hsl(0, 0%, 7%);
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 1.2rem;
  border-radius: 1rem;
  height: 80%;
  width: 60%;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content img {
  border-radius: 1rem;
  max-width: 100%;
}

.learning {
  text-align: center;
  padding: 6px 0px; /*top-bottom-padding, left-right-padding*/
  border-radius: 4px;
  background-color: hsl(47, 88%, 63%);
  width: 30%;
}

.user {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

p {
  color: hsl(0, 0%, 42%);
}

h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
